<h1> Registro de usuario </h1>

<form action="/api/sessions/register" method="POST">
  <Label for="first_name"> Nombre </Label>
  <input type="text" name="first_name" required />
  <br /><br />

  <Label for="last_name"> Apellido </Label>
  <input type="text" name="last_name" required />
  <br /><br />

  <Label for="email"> Email </Label>
  <input type="email" name="email" required />
  <br /><br />

  <Label for="password"> Contraseña </Label>
  <input type="text" name="password" required />
  <br /><br />

  <Label for="age"> Edad </Label>
  <input type="Number" name="age" required />
  <br /><br />

  <button type="submit"> Registrar </button>
</form>