{{! practicamos con ciclos}}

{{#each arrayProductos}}
  <div>
    <h3> nombre : {{this.nombre}} </h3>
    <p>descripcion : {{this.descripcion}} </p>
    <p>precio: {{this.precio}} </p>
    <button> comprar</button>
  </div>
{{/each}}